/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://wallpapers.com/images/hd/4k-ultra-hd-galaxy-red-clouds-8djutsmv9kwkls6p.jpg') no-repeat center center fixed; 
    background-size: cover;
    color: #333;
}

header {
    background-color: transparent; 
    color: white;
    padding: 10px 0;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: rgba(255, 255, 255, 0.9); /* Fundo branco semi-transparente */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: transparent; 
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilo da foto */
.photo-section {
    text-align: center;
    margin-top: 20px;
}

.photo-section .photo {
    width: 100px; 
    height: 100px;
    object-fit: cover; 
    display: inline-block; 
}

.name {
    margin-top: 10px;
    color: white;
}

/* Estilo do formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form label {
    margin-top: 10px;
    font-size: 16px;
}

form input, form textarea {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

form button:hover {
    background-color: #555;
}

/* Estilização para a lista de links no portfólio */
ul.portfolio-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.portfolio-links li {
    margin: 10px 0;
}

ul.portfolio-links a {
    text-decoration: none;
    color: black; 
    font-weight:550; 
}

ul.portfolio-links a:hover {
    text-decoration: underline; 
}